<div>
<h4 class="output">Your text is: </h4>
  <div class="output">
    <%= @text %>
  </div>
</div>

<div>
<h4 class="output">Your target word is: </h4><div class="output"><%= @word %></div>
</div>

<div>
<h4 class="output">Count of target word in text:</h4>
   <div class="output">
    <%= @result %>
   </div>
</div>

<div>
<h4 class="output">Count of target including subsets of words: </h4>
   <div class="output">
    <%= @newresult %>
   </div>
</div>
