<h3> Input your text here:</h3>
<form action = "/display">
  <div class = "form-group">
    <label for = "text"> Enter text here: </label>
    <input id = "text" name = "text" class="form-control" type="text">
  </div>

  <h3> Input target word here:</h3>
   <div class = "form-group">
    <label for = "target"> Enter target word here: </label>
    <input id = "target" name = "target" class="form-control" type="target">
   </div>

<button type = "submit" class = "btn-success"> Show target count </button>
</form>
