
<h1>Word Count App</h1>
<br>
<br>

<h4> Count the number of times a word is mentioned in your text.</h4>

<h4> Input your text here:</h4>
<form action = "/display">
  <div class = "form-group">
    <label for = "text"></label>
    <input id = "text" name = "text" class="form-control" type="text">
  </div>
    <br>
    <br>
  <h4> Input target word here:</h4>
   <div class = "form-group">
    <label for = "target"></label>
    <input id = "target" name = "target" class="form-control" type="target">
   </div>

<button type = "submit" class = "btn-success"> Show target count </button>
</form>
